* {
   padding: 0px;
   margin: 0px; 
}
.wraper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1200px;
}

.mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 10px;
    list-style: none;
}

.mainNav a {
    color: orange;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 1px dashed #999;
    border-radius: 20px;
    padding: 7px 5px;
    display: block;
    margin: 0px 5px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: 0 2px;
    transition-property: all;
    transition-duration: 1s;
}

.mainNav a:hover {
    font-weight: bold;
    color: black;
    background-color: rgb(224, 217, 195);
    background-position: 3px 50%;
    transform: scale(1.2);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: auto;
    height: 265px;
    padding-right: 30px;
    background-color: dimgray;
}

.header_titl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width: 85%;
}

.header_conteiner {
    text-align: end;
    height: 200px;
    flex-wrap: wrap;
    font-size: 30px;
    color: orange;
    padding: 10px;
}

.conteiner_div {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 30px 20px;
   }

   .conteiner_div h2 {
       padding-bottom: 20px;
   }

   .conteiner_div ul {
       padding-left: 20px;
   }
   
.conteiner_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:auto;
    align-items: flex-start;
    color: rgb(17, 13, 13);
    background-color: rgb(182, 158, 135);
    font-size: 20px;
}

.left_main {
    width: 285px;
    height:1200px;
   
}

.conteiner_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(75, 73, 73);
    height: 100px;
    padding: 0px 100px;
    width: auto;
}
.foot_list {
    background-size: auto;
}